:root{
    --primario: #89119d;
    --primarioOscuro: #6a0c7b;
    --secundario: #ffce00;
    --secundarioOscuro: #d5ae15;
    
    --fuentePrincipal: 'Staatliches', cursive;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    background-color: var(--primario);
    line-height: 1.5;
}

/* GLOBALES */
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/* NAVEGACIÓN */
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: white;
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
@media (min-width: 768px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* PRODUCTOS */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
    border-radius: 1rem;
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario)
}

.producto__nombre, .producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1;
}

/* GRÁFICOS */
.grafico{
    min-height: 30rem;
    grid-column: 1 / 3;
    border-radius: 1rem;
}

.grafico--remeras{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grafico--node{
    grid-row: 7 / 8;
    background-image: url(../img/grafico2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px){
    .grafico--node{
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    }
}

/* FOOTER */
.footer{
    background-color: var(--primarioOscuro);
    margin-top: 5rem;
    padding: 1rem 0;
}

.footer__texto{
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
    text-align: center;
}

/* NOSOTROS */
.nosotros{
    display: grid;
    grid-template-rows: auto auto;
}
@media (min-width: 768px){
    .nosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.nosotros__imagen{
    width: 100%;
    grid-row: 1 / 2;
}    
@media (min-width: 768px){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }    
}

/* BLOQUES */
.bloques{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
@media (min-width: 768px){
    .bloques{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
    }    
}
.bloque{
    text-align: center;
}
.bloque__titulo{
    margin: 0;
}

/* PRODUCTO REMERA */
.remera{
    display: grid;
    padding: 2rem;
}
@media (min-width: 768px){
    .remera{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 3rem;
    }    
}
.remera__imagen{
    width: 100%;
    border-radius: 1rem;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.formulario__campo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 0.2rem solid black;
    padding: 1rem;
}
.formulario__submit{
    background-color: var(--secundario);
    font-family: var(--fuentePrincipal);
    font-size: 2.5rem;
    border-radius: 13rem 2rem;
    border: 0.2rem solid #000000;
    grid-column: 1 / 3;
    height: 4.5rem;
    transition: background-color 0.3s ease;
    transition: font-size 0.3s ease;
}
.formulario__submit:hover{
    background-color: var(--secundarioOscuro);
    font-size: 0.1rem;
    cursor: pointer;
}